.col {
  padding: 0 20px;
}

.stat {
  max-width: 300px;
  margin: auto;
  height: 100%;
  background: #3D4F9F;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statTitle {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.suffix {
  width: 100px;
  height: 100px;
  margin-left: 40px;

  img {
    max-width: 100% !important;
    max-height: 100% !important;
  }
}
